* {
    margin: 0;
    padding: 0;
}


.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 51px;
}

.header__logo {
    margin-top: 40px;
    margin-left: 375px;
}


.header__links {
    margin-top: 51px;
    margin-left: 346px;
}

.header__link__1 {
    padding-right: 30px;
    text-decoration: none;
    font-size: 14px;
    font-family: Gilroy-SemiBold;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #F25822;
}

.header__link {
    padding-right: 30px;
    text-decoration: none;
    font-size: 14px;
    font-family: Gilroy-SemiBold;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000;
}

.top__content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.title {
    margin-left: 373px;
    margin-top: 89px;
    margin-bottom: 17px;
    color: #000;
    font-size: 60px;
    font-family: Gilroy-Bold;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text {
    margin-left: 373px;
}

.button__start {
    margin-top: 37px;
    margin-left: 375px;
    margin-bottom: 162px;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88,   34, 0.20);
    width: 140px;
    height: 50px;
    color: #FFF;
    font-size: 15px;
    font-family: Gilroy-Bold;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
}

.button__watch {
    margin-top: 52px;
    margin-left: 72px;
    text-decoration: none;
    color: #AAA;
    font-size: 15px;
    font-family: Gilroy-Bold;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top__image {
    margin-top: 94.71px;
    margin-left: 40.94px;
    width: 544.814px;
    height: 374.843px;
    flex-shrink: 0;
}

.top__logo {
    margin-top: 97px;
    margin-bottom: 96px;
    margin-left: 345px;
}

.top__logo__img {
    padding-right: 30px;
}