* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1920px;
}

.header {
    /* background-color: #b7b2b2; */
    display: flex;
    width: 1016px;
    margin-left: 375px;
}


.header__logo__link {
    /* background-color: #ff000021; */
    margin-top: 51px;
    margin-bottom: 90px;
    margin-right: 326px;
}


.header__links {
    /* background-color: #ff000024; */
    display: flex;
    margin-top: 51px;
    height: 50px;
}

.header__link__home {
    padding: 20px 20px;
    text-decoration: none;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #F25822;
}

.header__link {
    padding: 20px 20px;
    text-decoration: none;
    font-size: 14px;
    font-family: Gilroy-SemiBold;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000;
}

.top__content {
    /* background-color: #d0d0d0; */
    position: relative;
    display: flex;
    margin-bottom: 200px;
}

.title {
    /* background-color: #ff03032f; */
    width: 522px;
    padding-top: 55px;
    margin-left: 373px;
    margin-bottom: 17px;
    color: #000;
    font-size: 60px;
    font-family: Gilroy-Bold;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.top-text {
     /* background-color: #85050536; */
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 466px;
    margin-bottom: 37px;
    margin-left: 373px;
}

.button__start {
    margin-left: 375px;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88,   34, 0.20);
    width: 140px;
    height: 50px;
    color: #FFF;
    font-size: 15px;
    font-family: Gilroy-Bold;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: transparent;
}

.button__watch {
    /* background-color: #d58e0058; */
    margin-left: 72px;
    color: #AAA;
    font-size: 15px;
    font-family: Gilroy-Bold;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: transparent;
    background: none;
}

/* .button__start:hover, .button__watch:hover {
    transition: all 0.3s;
    background-color: #fff;
} */

.top__image {
    /* background-color: #d58e0058; */
    margin-left: 40.94px;
    width: 544.814px;
    height: 374.843px;
}

.brands {
    /* background-color: #3e3e3e; */
    width: 1200px;
    margin-left: 345px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 94px;
}

.content-1 {
    display: grid;
    grid-template-rows: 540px 491px;
}

.content-1-top {
    background: #FAFAFA;
    height: 540px;
    display: flex;
}

.content-1-left {
    margin-left: 375px;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.content-1-right{
    display: flex;
    margin-top: -23px;
    margin-left: -32px;
    z-index: 2;
}

.content-1-title {
    width: 409px;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
    padding-top: 127px;
}

.content-1-text {
    width: 515px;
    margin-bottom: 35px;
    color: #666;
    font-family: Gilroy-Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.button__learn {
    width: 140px;
    height: 50px;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    border: transparent;
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content-1-bottom {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: 291px;
    height: 491px;
    justify-content: center;
    align-content: center;
    gap: 30px;
}

.content-1-block {
    width: 370px;
    padding-top: 40px;
    padding-left: 29px;
    padding-right: 31px;
    padding-bottom: 25px;
}

.content-1-block:hover {
    background: #FFF;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
    transition: 0.5s;
}


.content-1-block-heading {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 25px;
}

.content-1-block-text {
    color: #666;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-top: 17px;
    padding-bottom: 25px;
}

.content-1-block-link {
    text-decoration: none;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.button-link {
    text-decoration: none;
    width: 140px;
    height: 50px;
}