* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    /* background-color: #b7b2b2; */
    display: flex;
    width: 1016px;
    margin-left: 375px;
}


.header__logo__link {
    /* background-color: #ff000021; */
    margin-top: 51px;
    margin-bottom: 143px;
    margin-right: 326px;
}


.header__links {
    /* background-color: #ff000024; */
    display: flex;
    margin-top: 51px;
    height: 50px;
}

.header__link__home {
    padding: 20px 20px;
    text-decoration: none;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #F25822;
}

.header__link {
    padding: 20px 20px;
    text-decoration: none;
    font-size: 14px;
    font-family: Gilroy-SemiBold;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000;
}

.top__content {
    /* background-color: #d0d0d0; */
    position: relative;
    display: flex;
    margin-bottom: 200px;
}

.title {
    /* background-color: #ff03032f; */
    margin-left: 373px;
    margin-bottom: 17px;
    color: #000;
    font-size: 60px;
    font-family: Gilroy-Bold;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text {
    /* background-color: #85050536; */
    margin-left: 373px;
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 37px;
}

.button__start {
    margin-left: 375px;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88,   34, 0.20);
    width: 140px;
    height: 50px;
    color: #FFF;
    font-size: 15px;
    font-family: Gilroy-Bold;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
}

.button__watch {
    /* background-color: #d58e0058; */
    margin-left: 72px;
    color: #AAA;
    font-size: 15px;
    font-family: Gilroy-Bold;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    background: none;
}

.top__image {
    /* background-color: #d58e0058; */
    margin-left: 40.94px;
    width: 544.814px;
    height: 374.843px;
}

.top__logos {
    /* background-color: #3e3e3e; */
    width: 1200px;
    margin-bottom: 96px;
    margin-left: 345px;
    display: flex;
    justify-content: space-between;
}

