.filter-sort {
    display: flex;
    margin-top: 51px;
    margin-bottom: 64px;
    position: relative;
} 

.filter {
    width: 360px;
    background-color: #ffff;
    position: absolute;

    &__summary {
        display: flex;
        align-items: center;
        gap: 11px;
    }
}




